
  /* Hero principal */
.hero {
  display: flex;
  align-items: center;
  justify-content: start;
  overflow: hidden;
  position: relative;
}

/* Contenido del Hero */
.hero-content {
    color: white;
  text-align: start;
  opacity: 0;
  transform: translateY(80px);
  transition: transform 1s cubic-bezier(0.25, 0.8, 0.25, 1), opacity 1s ease-out;
  will-change: transform, opacity;
}

.hero-content.show {
  opacity: 1;
  transform: translateY(0);
}

.hero-content h1 {
  font-size: clamp(5rem, 15vw, 14rem);
  font-weight: 900;
  line-height: 0.9;
  letter-spacing: -0.03em;
  margin: 0;
}

.hero-content p {
  font-size: clamp(1.2rem, 3vw, 2rem);
  color: #d1d5db;
  margin-top: 1rem;
  font-weight: 400;
}
